html {

}



body {
background-color: #edf0f2;
}

h2 {
    color: #165634;
}

p {
    color: grey;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}


.comment1{
    margin-left: 5px;
}.comment2{
    margin-left: 5px;
}


.titreBillet {
    color: #337ab7;
}

.page{
    margin-left: 10%;
    margin-right: 10%;
}

.titre{
    padding-left: 5%;
    padding-top: 5%;
    padding-right: 5%;
}

.titreBillet2 {
    color: #165634;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}


.repondre{
    background-color: blue;

}

.signaler{
    margin-left: 30px;

}
.foreach1{
    border:3px solid #edf0f2;
    padding: 10px;
    margin-top : 10px;
}
.foreach2{
     border:2px solid #edf0f2;
     padding: 10px;
    margin-left: 60px;
    margin-top : 10px;
}
.foreach3{
      border:2px solid #edf0f2;
      padding: 10px;
    margin-left: 60px;
    margin-top : 10px;
}

#texte {
    margin-left: 2%;
    color: #0d382f;
    margin-right: 2%;
}

#auteur{
    float: left;
    margin-right : 10px;
    width: 100px;
}

#contenu {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 80px;
}

#example_info{
    display: none;
}
#example_filter{
    display: none;
}


#signature {
text-align: right;
    margin-right: 20px;
}


#footer {
    background-color: lightgrey;
    padding: 5px;

    text-align: center;
    position: relative;
}

#liste{
    margin-left: 2%;
    margin-bottom: 20px;
}



.sorting_desc {
    color: grey;
}
