body {
background-color: #edf0f2;
    margin-top: 50px;
}

h2 {
    color: #165634;
}

h3{
    color: #14914f;
}

p {
    color: grey;
}

/* ----------------Classes-------------------- */

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.indent{
    border: 1px solid #cfd7dd;
    padding: 10px;
    margin-top : 20px;
    margin-bottom : 3px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(207, 215, 221, 0.2);
}

.mdp{
    font-size: 10px;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.page{
    margin-left: 10%;
    margin-right: 10%;
}

.repondre{
    background-color: blue;
}

.signaler{
    margin-left: 30px;
}

.titre{
    padding-left: 5%;
    padding-top: 30px;
    padding-right: 5%;
}

.titreBillet {
    color: #337ab7;
}

.titreBillet2 {
    color: #165634;
}

/* ----------------Attributs-------------------- */

#auteur{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
}

#boutonmembre{
    font-size: 10px;
    float: left;
}

#contenu {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom : 60px;
}

#episodes {
    text-align: right;
    margin-right: 20px;
}

#flash{
    padding-top: 40px;
    color: #14914f;
    font-size: 18px;
    margin-left: 5%;
    text-align:center;
}

#footer {
    background-color: lightgrey;
    padding: 15px;

    text-align: center;
    position: relative;
}

#identifiant{

    margin-right : 10px;
    margin-bottom: 20px;
    width: 200px;
}

#Jean{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 110px;
}

#mdp{

    margin-right : 10px;
    margin-bottom: 20px;
    width: 200px;
}

#membre{
    float: left;
    margin-right : 10px;
    width: 200px;
}

#nom{

    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
}

#password{
    float: left;
    margin-right : 10px;
    margin-bottom: 20px;
    width: 200px;
}

#prenom{

    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
}

#texte {
    margin-left: 2%;
    color: #0d382f;
    margin-right: 2%;
}

#username{
    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
}

/* --------------------------------------------------- */

@media screen and (max-width: 768px) {

    #contenu {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .page {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 20px;
    }

    .indent {
        margin-left: 2px;
        margin-right: 2px;
    }

    .table-hover tr th {
        display: none;
    }

    .table-hover tr td {
        float: left;
        width: 100%;
        border: none !important;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .table-hover tr{
        border-bottom: 2px solid #edf0f2;
        border-top: 2px solid #edf0f2;
    }
}

