body {
background-color: #edf0f2;
    margin-top: 50px;
}

h2 {
    color: #165634;
}

h3{
    color: #14914f;
}

p {
    color: grey;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.titreBillet {
    color: #337ab7;
}

.page{
    margin-left: 10%;
    margin-right: 10%;
}

.titre{
    padding-left: 5%;
    padding-top: 30px;
    padding-right: 5%;
}

.titreBillet2 {
    color: #165634;
}
.img-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}


.repondre{
    background-color: blue;

}

.signaler{
    margin-left: 30px;

}
.indent{
    border: 1px solid #cfd7dd;
    padding: 10px;
    margin-top : 20px;
    margin-bottom : 3px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: rgba(207, 215, 221, 0.2);
}

#example_length{
margin-bottom: 20px;
margin-top: 20px;}

#flash{
    padding-top: 40px;
    color: #14914f;
    font-size: 18px;
    margin-left: 5%;
    text-align:center;

}

#texte {
    margin-left: 2%;
    color: #0d382f;
    margin-right: 2%;
}

#Jean{
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    width: 110px;
}


#auteur{

    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
}
#prenom{

    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
}#nom{

    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
}
#username{

    margin-right: 10px;
    margin-bottom: 20px;
    width: 200px;
}#password{
    float: left;
    margin-right : 10px;
    margin-bottom: 20px;
    width: 200px;
}#identifiant{

    margin-right : 10px;
    margin-bottom: 20px;
    width: 200px;
}#mdp{

    margin-right : 10px;
    margin-bottom: 20px;
    width: 200px;
}

#membre{
    float: left;
    margin-right : 10px;
    width: 200px;
}

#contenu {
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    margin-bottom : 60px;
}

#example_info{
    display: none;
}
#example_filter{
    display: none;
}


#signature {
text-align: right;
    margin-right: 20px;
}


#footer {
    background-color: lightgrey;
    padding: 15px;

    text-align: center;
    position: relative;
}

@media all and (max-width: 1024px)
{
    #contenu {
        margin-bottom : 40px;
    }

    .page {
        margin-left: 7%;
        margin-right: 7%;
    }

    .indent{
        margin-left: 3px;
        margin-right: 3px;
    }

@media only screen and (max-device-width:980px) {

    #contenu {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
    }

    .page {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 20px;
    }

    .indent {
        margin-left: 2px;
        margin-right: 2px;
    }
}
}
